h1{
    color: green;
	text-align: center;
	font-size: 5vw;
}	

p{
	color: red;
	text-decoration: underline;
	font-size: 2vwvw;
}

img{
	max-width: 100%;
	
}

.sisalto{
	overflow:auto;
	
}

.vasen{
	float:left;
	width: 50%;
}

.oikea{
	float:left;
	width: 50%;
}

*{
	box-sizing:border-box;
	
}